<label class="flex cursor-pointer items-center gap-2">
  <input type="checkbox" checked data-opt-target="[data-x-edges]" data-opt-hide>
  Previous / Next
</label>

<label class="flex cursor-pointer items-center gap-2">
  <input type="checkbox" checked data-opt-target="[data-x-gap], [data-x-last]" data-opt-hide>
  Ellipsis and last page
</label>

<label class="flex cursor-pointer items-center gap-2">
  <input type="checkbox" data-opt-target="[data-x-pages]" data-opt-on="pages-outline">
  Outline current
</label>
