<div class="opt-segments">
  <label>
    <input type="radio" name="avatarsize" data-opt-target="[data-x-avatar], [data-x-avatar-img]" data-opt-on="avatar-sm">
    S
  </label>
  <label>
    <input type="radio" name="avatarsize" checked data-opt-target="[data-x-avatar], [data-x-avatar-img]" data-opt-on="">
    M
  </label>
  <label>
    <input type="radio" name="avatarsize" data-opt-target="[data-x-avatar], [data-x-avatar-img]" data-opt-on="avatar-lg">
    L
  </label>
</div>

<label class="flex cursor-pointer items-center gap-2">
  <input type="checkbox" data-opt-target="[data-x-avatar], [data-x-avatar-img]" data-opt-on="avatar-square">
  Square
</label>

<label class="flex cursor-pointer items-center gap-2">
  <input type="checkbox" checked data-opt-target="[data-x-status]" data-opt-hide>
  Status dot
</label>

<label class="flex cursor-pointer items-center gap-2">
  <input type="checkbox" data-opt-target="[data-x-status]" data-opt-on="avatar-status-busy">
  Busy
</label>

<label class="flex cursor-pointer items-center gap-2">
  <input type="checkbox" data-opt-target="[data-x-stack]" data-opt-hide>
  Stacked group
</label>
