<div data-x-wrap class="w-full max-w-[420px] overflow-x-auto rounded-lg border border-border">
  <table data-x-table class="tbl tbl-rules w-full border-collapse text-body-sm">
    <caption class="sr-only">Files, when they were last updated, and who wrote them</caption>
    <thead data-x-head>
      <tr>
        <th scope="col">File</th>
        <th scope="col">Updated</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="font-500 text-foreground">quarterly-report.pdf</th>
        <td>7/26/26</td>
        <td>You</td>
      </tr>
      <tr>
        <th scope="row" class="font-500 text-foreground">team-offsite-notes.md</th>
        <td>7/14/26</td>
        <td>You</td>
      </tr>
      <tr>
        <th scope="row" class="font-500 text-foreground">budget-2027.xlsx</th>
        <td>4/15/26</td>
        <td>You</td>
      </tr>
      <tr>
        <th scope="row" class="font-500 text-foreground">onboarding-checklist.md</th>
        <td>7/24/26</td>
        <td>Sam</td>
      </tr>
    </tbody>
  </table>
</div>
